# DATABASE_URL=file:./dev.db
# TEST_DATABASE_URL=file:./.redwood/test.db
# PRISMA_HIDE_UPDATE_MESSAGE=true
# LOG_LEVEL=trace
# SESSION_SECRET=<please generate via yarn rw>
# DOMAIN_URL=http://localhost:8910/
# SEND_IN_BLUE_KEY=xsmt...
# DATABASE_URL=postgresql://<USERNAME>:<PASSWORD>@localhost:5432/<DATABASE_NAME>?schema=public?connection_limit=1
