# DATABASE_URL=file:./dev.db
# TEST_DATABASE_URL=file:./.redwood/test.db
# PRISMA_HIDE_UPDATE_MESSAGE=true
# LOG_LEVEL=trace
# SESSION_SECRET=<please generate via yarn rw>
# DOMAIN_URL=http://localhost:8910/
# SEND_IN_BLUE_KEY=xsmt08c8e0241673dd6848e028708c8e02f139308c8e0287163f172cbd64df